@tailwind base;
@tailwind components;
@tailwind utilities;
.body {
    @apply overflow-hidden;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .md:text-left {
        text-align: center;
    }
    /* Add grid grid-cols-2 and text-sm */
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .sm:font-size {
        font-size: 8px;
        /* You can adjust the font size as needed */
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .md:text-left {
        text-align: center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .md:text-left {
        text-align: left;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .md:text-left {
        text-align: left;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .md:text-left {
        text-align: left;
    }
}